<div>
  <h2 id="page-heading" data-cy="SleepDetectorHeading">
    <span jhiTranslate="temiraBusinessManagerApp.sleepDetector.home.title">Sleep Detectors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="temiraBusinessManagerApp.sleepDetector.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sleep-detector"
        [routerLink]="['/sleep-detector/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="temiraBusinessManagerApp.sleepDetector.home.createLabel">Crear nuevo Sleep Detector</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (sleepDetectors?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="temiraBusinessManagerApp.sleepDetector.home.notFound">Ningún Sleep Detectors encontrado</span>
    </div>
  }

  @if (sleepDetectors && sleepDetectors.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="temiraBusinessManagerApp.sleepDetector.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="temiraBusinessManagerApp.sleepDetector.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (sleepDetector of sleepDetectors; track trackId(sleepDetector)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sleep-detector', sleepDetector.id, 'view']">{{ sleepDetector.id }}</a>
              </td>
              <td>{{ sleepDetector.name }}</td>
              <td>
                {{ sleepDetector.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/sleep-detector', sleepDetector.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/sleep-detector', sleepDetector.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(sleepDetector)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
