<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (vehicle(); as vehicleRef) {
      <div>
        <h2 data-cy="vehicleDetailsHeading"><span jhiTranslate="temiraBusinessManagerApp.vehicle.detail.title">Vehicle</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ vehicleRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="temiraBusinessManagerApp.vehicle.model">Model</span></dt>
          <dd>
            <span>{{ vehicleRef.model }}</span>
          </dd>
          <dt><span jhiTranslate="temiraBusinessManagerApp.vehicle.name">Name</span></dt>
          <dd>
            <span>{{ vehicleRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="temiraBusinessManagerApp.vehicle.user">User</span></dt>
          <dd>
            <span>{{ vehicleRef.user?.login }}</span>
          </dd>
          <dt><span jhiTranslate="temiraBusinessManagerApp.vehicle.type">Type</span></dt>
          <dd>
            @if (vehicle()!.type) {
              <div>
                <a [routerLink]="['/vehicle-type', vehicle()!.type?.id, 'view']">{{ vehicleRef.type?.name }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="temiraBusinessManagerApp.vehicle.brand">Brand</span></dt>
          <dd>
            @if (vehicle()!.brand) {
              <div>
                <a [routerLink]="['/vehicle-brand', vehicle()!.brand?.id, 'view']">{{ vehicleRef.brand?.name }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Volver</span>
        </button>

        <button type="button" [routerLink]="['/vehicle', vehicleRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
