<div>
  <h2 id="page-heading" data-cy="StatementHeading">
    <span jhiTranslate="temiraBusinessManagerApp.statement.home.title">Statements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="temiraBusinessManagerApp.statement.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-statement"
        [routerLink]="['/statement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="temiraBusinessManagerApp.statement.home.createLabel">Crear nuevo Statement</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (statements?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="temiraBusinessManagerApp.statement.home.notFound">Ningún Statements encontrado</span>
    </div>
  }

  @if (statements && statements.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dateCreation">
              <div class="d-flex">
                <span jhiTranslate="temiraBusinessManagerApp.statement.dateCreation">Date Creation</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="destination">
              <div class="d-flex">
                <span jhiTranslate="temiraBusinessManagerApp.statement.destination">Destination</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pathCsv">
              <div class="d-flex">
                <span jhiTranslate="temiraBusinessManagerApp.statement.pathCsv">Path Csv</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sleepDetector.name">
              <div class="d-flex">
                <span jhiTranslate="temiraBusinessManagerApp.statement.sleepDetector">Sleep Detector</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="vehicle.name">
              <div class="d-flex">
                <span jhiTranslate="temiraBusinessManagerApp.statement.vehicle">Vehicle</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="driver.firstName">
              <div class="d-flex">
                <span jhiTranslate="temiraBusinessManagerApp.statement.driver">Driver</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="user.login">
              <div class="d-flex">
                <span jhiTranslate="temiraBusinessManagerApp.statement.user">User</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (statement of statements; track trackId(statement)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/statement', statement.id, 'view']">{{ statement.id }}</a>
              </td>
              <td>{{ statement.dateCreation | formatMediumDatetime }}</td>
              <td>{{ statement.destination }}</td>
              <td>{{ statement.pathCsv }}</td>
              <td>
                @if (statement.sleepDetector) {
                  <div>
                    <a [routerLink]="['/sleep-detector', statement.sleepDetector.id, 'view']">{{ statement.sleepDetector.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (statement.vehicle) {
                  <div>
                    <a [routerLink]="['/vehicle', statement.vehicle.id, 'view']">{{ statement.vehicle.name }}</a>
                  </div>
                }
              </td>
              <td>
                @if (statement.driver) {
                  <div>
                    <a [routerLink]="['/driver', statement.driver.id, 'view']">{{ statement.driver.firstName }}</a>
                  </div>
                }
              </td>
              <td>
                {{ statement.user?.login }}
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/statement', statement.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
                  </a>

                  <a [routerLink]="['/statement', statement.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(statement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
